.description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description span {
  font-weight: 700;
}

.description li {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .description {
    list-style: none;
    margin-left: 20px;
  }
}
